


/* for desktop */
.whatsapp_float {
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
        font-size:30px;
  box-shadow: 2px 2px 3px #999;
        z-index:100;
}

.whatsapp-icon {
  margin-top:16px;
}
/* for mobile */
@media screen and (max-width: 767px){
     .whatsapp-icon {
   margin-top:10px;
     }
    .whatsapp_float {
        width: 40px;
        height: 40px;
        bottom: 20px;
        right: 10px;
        font-size: 22px;
    }
}


form select{

   width: 25%;
  padding: 7px;
  border: none;
  border: 3px solid gray;
  border-radius: 6px;
  outline: none;
  position: absolute;
  left: 55px;
}

form label {
  display: flex;
  margin-top: 20px;
  font-size: 22px;
 
}

.labb{

  position: absolute;
  left: 7%;
  top: 90%;
  font-size: 22px;
}

form input {
  width: 28%;
  padding: 7px;
  border: none;
  border: 3px solid gray;
  border-radius: 6px;
  outline: none;

}

input[type="address"]{


}

}
.cab{

  position: absolute;
  right:33% ;
  top:123% ;
  font-size: 22px;
}


input[type="Number"]{

  position: absolute;
  left: 7%;



}


.pho{

  position: absolute;
  left:8% ;
  top:152% ;
  font-size: 22px;
}


body{
  background-color: #E7DFD5;
}

input[type="submit"]{

 width: 320px;
  height: 35px;
  margin-top: 20px;
  border: none;
  background: #49c1a2;
    color:  black;
  font-size: 18px;
  cursor: pointer;
}

input[type="submit"]:hover{

    background: #98fb98;
  
}

.kg input[type="radio"]{

border: none;
  outline: none;
  height: 20px;
  background: #fb2525;
  color: black;
  position: absolute;
  top: 181%;
  border-radius: 33px;
  right: 71%;
}
h4{

  right: 71%;
}
